/**
 * General
 */

body {
	font-size:62.5%;
	
}

h1,h2,h3,h4,h5,h6 {
	color: #333;
	line-height: 1.2;
	margin-bottom:1.2em;
}
h1 {
}
h2 {
	
	font-size:1.4em;
	

}
h3 {
	font-size: 1.7em;
}
h4 {
	font-size: 1.8em;
}
h5 {
	font-size: 1.4em;
}
h6 {
}
p {
	font-size: 1.3em;
	line-height: 1.4;
	color:#fff!important;
	font-weight:normal;
}

p+p{margin-top:1em;}

strong{ color:#ed4cfc; font-weight:bold;}
a, a:visited {
	text-decoration: none;
	color: #00aeef;
}
a:hover {
	text-decoration: underline;
}


