<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule ^$ app/webroot/ [L]
	RewriteRule (.*) app/webroot/$1 [L]
</IfModule>

php_value post_max_size 512M 
php_value upload_max_filesize 512M 
php_value max_execution_time 600
php_value max_input_time 600
php_value memory_limit 512M